.two-columns {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
}

.left {
    grid-area: left;
}
.right {
    grid-area: right;
}

body {
    font-family: Manrope, sans-serif;
}

.light-section, .dark-section {
    padding-block: 3rem 4rem;
}
.light-section {
    background-color: var(--background-light-gray);
    color: var(--text-dark-color);
}
.dark-section {
    background-color: var(--background-dark-color);
    color: var(--text-light-color);
}

section {
   padding-inline: 5rem; 
}

.top-3 {
    padding-top: 3rem;
}
.top-2 {
    padding-top: 2rem;
}

.center {
    display: grid;
    justify-items: center;
}

.place-center {
    display: grid;
    place-items: center;
}

.rounded {
    border-radius: var(--rounded-radius);
}