---
import BulletCard from "../components/BulletCard.astro";
import ProductCard from "../components/ProductCard.astro";
import { getLatestProducts } from "../../product_data/get-product-data";
import { getLang } from "../utils/get-lang";

import PageLayout from "../layouts/PageLayout.astro";
import { getProductAssetPath } from "../utils/get-asset-path";
import String from "../components/String.astro";
import { getString } from "../utils/i18n/i18n";
---

<PageLayout title="Soop" description="Soop Studio">
    <div class="Home">
        <section class="light-section">
            <div class="two-columns hero-container">
                <div class="hero-text left">
                    <String key="home.hero.title" />
                </div>
                <img
                    class="hero-image right"
                    src="media/home_cover.png"
                    alt=""
                />
            </div>
            <div class="top-3"></div>
            <p class="long-paragraph max1400">
                <String key="home.introduction" />
            </p>
        </section>

        <section class="dark-section center">
            <BulletCard
                text={getString("home.features.1")}
                image="media/render2.png"
            />
            <BulletCard
                text={getString("home.features.2")}
                image="media/render1.png"
                inverted
            />
            <BulletCard
                text={getString("home.features.3")}
                image="media/render3.png"
            />
        </section>

        <section class="light-section center">
            {
                /* display latest 2 products */
                getLatestProducts(2, getLang()).map((product, index) => {
                    return (
                        <ProductCard
                            inverted={index % 2 !== 0}
                            title={product.general.name}
                            image={getProductAssetPath(
                                product.page,
                                product.general.coverPic
                            )}
                            pageId={product.page}
                        >
                            {product.general.longDescription}
                        </ProductCard>
                    );
                })
            }
        </section>
    </div>
</PageLayout>
