/* mobile breakpoints */
@media(max-width: 768px) {
    .product-nav {
        gap: 1.2rem;
    }
    .pn-title {
        display: none;
    }
    .pn-overview {
        margin-left: auto;
    }
    .pn-buy {
        margin-right: auto;
    }
    .desktop-only {
        display: none;
    }
}